.myHeroBaground {
    background-image: url("../../public/images/heroThumbnail.png");
    background-size: cover;
    background-position: center;
}

.test {
    background-image: url("../../public/images/heroThumbnail.png");
    background-size: cover;
    background-position: center;
}

@keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 3s linear infinite;
  }